
.corpus-universe-container{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
}


.corpus-universe-container-ui{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
    z-index: 2;
}

.corpus-universe-container-ui .minimap{
    position: absolute;
    right:0;
    bottom: 0;
    width: 375px;
    height: 275px;
    background-color: lightgray;
}

.corpus-universe-container-ui .coordinates{
    position: absolute;
    left:50%;
    top:32px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    pointer-events: all !important;

    color:white;
    font-size: large;
}

.corpus-universe-container-ui .coordinates span{
}

.corpus-universe-container-ui .inspector-window{
    position: absolute;
    right: 0;
    background: rgba( 255, 255, 255, 0.75);
    box-shadow: 0 2px 6px 0 rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    height: calc(100vh);
    width: 40vw;
    max-width: 600px;
    z-index: 2;
    pointer-events: all !important;
    min-width: 350px;
}

.corpus-universe-container-ui .inspector-window .header .close-btn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border:gray 1px solid;
    display: flex;
    align-items: center;
    transition: 0.15s;
    justify-content: center;
}

.corpus-universe-container-ui .inspector-window .header .close-btn:hover{
    color:black !important;
    cursor: pointer;
    border-color:black !important;
    transition: 0.15s;
}

.corpus-universe-container-ui .content-group{
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.corpus-universe-container-ui .content-group[data-type="planet-association"] a{
    color:var(--secondary);
    text-decoration: underline;
    cursor: pointer;
}

.corpus-universe-container-ui .inspector-window .inspector-window-node-content{
    padding: 16px;
}

.corpus-universe-container-ui .inspector-window .inspector-window-node-content .text-snippet{
    border-radius: 6px;
    background-color: rgba(125, 125, 125, 0.15);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: small;
    font-style: italic;
    text-align: justify;
}

