.loader-container{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.loader-container h1 {
    color: var(--secondary);
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    position: relative;
}

.loader-container h1:after {
    position: absolute;
    content: "";
    -webkit-animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
    animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
}

.loader {
    position: absolute;
    margin: 5% auto 15px;
}

.book {
    border: 2px solid var(--secondary);
    width: 60px;
    height: 45px;
    position: relative;
    perspective: 150px;
}

.page {
    display: block;
    width: 30px;
    height: 45px;
    border: 2px solid white;
    border-left: 1px solid white;
    margin: 0;
    position: absolute;
    right: -4px;
    top: -4px;
    overflow: hidden;
    background: var(--prime);
    transform-style: preserve-3d;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.book .page:nth-child(1) {
    -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
    animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
}

.book .page:nth-child(2) {
    -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
    animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
}

.book .page:nth-child(3) {
    -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
    animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
}


/* Page turn */

@-webkit-keyframes pageTurn {
    0% {
        -webkit-transform: rotateY( 0deg);
        transform: rotateY( 0deg);
    }
    20% {
        background: lightgray;
    }
    40% {
        background: var(--secondary);
        -webkit-transform: rotateY( -180deg);
        transform: rotateY( -180deg);
    }
    100% {
        background: var(--secondary);
        -webkit-transform: rotateY( -180deg);
        transform: rotateY( -180deg);
    }
}

@keyframes pageTurn {
    0% {
        transform: rotateY( 0deg);
    }
    20% {
        background: lightgray;
    }
    40% {
        background:  var(--secondary);
        transform: rotateY( -180deg);
    }
    100% {
        background:  var(--secondary);
        transform: rotateY( -180deg);
    }
}


/* Dots */

@-webkit-keyframes Dots {
    0% {
        content: "";
    }
    33% {
        content: ".";
    }
    66% {
        content: "..";
    }
    100% {
        content: "...";
    }
}

@keyframes Dots {
    0% {
        content: "";
    }
    33% {
        content: ".";
    }
    66% {
        content: "..";
    }
    100% {
        content: "...";
    }
}