.open-chat-window{
    position: fixed;
    right:36px;
    bottom: 36px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border:lightgray 1px solid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    z-index: 999;
    transition: 0.15s;
}

.open-chat-window:hover i{
    color:white !important;
}

.open-chat-window:hover{
    background-color: var(--prime);
    color:white !important;
    transition: 0.15s;
}

.chat-window-container{
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0;
    width: 35vw;
    min-width: 400px;
    height: 100vh;
    background-color: ghostwhite;
    border-left:lightgray 1px solid;
}

.chat-window-container .cheader{
    border-bottom: 1px lightgray solid;
    height: 90px;
    background-color: rgba(245, 245, 247, 1);
}

.chat-window-container .cheader a{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:lightgray 1px solid;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.chat-window-container .ccontent{
    height: calc(100% - 235px);
    overflow-y: auto;
    border-bottom: 1px lightgray solid;
    overflow-x: hidden;
    padding-top: 36px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 36px;
}

.chat-window-container .ccontent .chat-state{
    display: none;
}

.chat-window-container .ccontent .message{
    width: 93%;
    background-color: white;
    padding: 12px;
    border:lightgray 1px solid;
    margin-bottom: 32px;
    color:gray;
    position: relative;
}

.chat-window-container .ccontent .message[data-type="system"],
.chat-window-container .ccontent .message[data-type="assistant"]{
    float: left;
}

.chat-window-container .ccontent .message[data-type="system"]::after,
.chat-window-container .ccontent .message[data-type="assistant"]::after {
    position: absolute;
    right: -40px;
    width: 40px;
    height: calc(100% + 2px);
    max-height: 50px;
    border-right: lightgray 1px solid;
    border-top: lightgray 1px solid;
    border-radius: 0% 50% 50% 0%;
    border-bottom: lightgray 1px solid;
    background-color: white;
    color: var(--secondary);
    padding-right: 6px;
    font-family: "Font Awesome 5 Free";
    content: "\f544";
    font-weight: 900;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-window-container .ccontent .message[data-type="assistant"]::before,
.chat-window-container .ccontent .message[data-type="system"]::before{
    position: absolute;
    left:-26px;
    width: 26px;
    height: 1px;
    background-color: lightgray;
    content: '';
    top:50%;
}

.chat-window-container .ccontent .message[data-type="user"] {
    float: right;
}

.chat-window-container .ccontent .message[data-type="user"]::before{
    position: absolute;
    right:-24px;
    width: 24px;
    height: 1px;
    background-color: lightgray;
    content: '';
    top:50%;
}

.chat-window-container .ccontent .message[data-type="user"]::after{
    position: absolute;
    left:-40px;
    width: 40px;
    height: calc(100% + 2px);
    max-height: 50px;
    border-left:lightgray 1px solid;
    border-top:lightgray 1px solid;
    border-radius: 50% 0% 0% 50%;
    border-bottom:lightgray 1px solid;
    background-color: white;
    color:var(--secondary);
    padding-left: 6px;
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-weight: 900;
    top:-1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-window-container .ccontent .message .cdocuments-list{
    margin-bottom: 12px;
}

.chat-window-container .ccontent .message .cdocuments-list .cdocument-card{
    padding: 8px;
    border:lightgray 1px solid;
    border-radius: 3px;
    transition: 0.15s;
}

.chat-window-container .ccontent .message .cdocuments-list .cdocument-card:hover{
    transition: 0.15s;
    transform: scale(1.01, 1.01);
    background-color: white;
}

.chat-window-container .cfooter{
    height: 150px;
    display: flex;
    background-color: rgba(245, 245, 247, 1);
    align-items: center;
    width: 100%;
}

.chat-window-container .cfooter .chat-user-input{
    resize: none;
    height: 100px;
}

.chat-window-container .cfooter .send-message-btn{
    height: 100px;
    border-radius: 0;
}

