.search-result-container{
    margin-top: 50px;
    min-height: 100vh;
    background-color: rgba(245, 245, 247, 0.9);
    border-top:lightgray 1px solid;
}

#corpus-select{
    width: auto;
    border-radius: 0;
    border-right:0;
    height: 41px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: lightgray;
}

.open-corpus-inspector-btn{
    cursor: pointer;
}

.search-header{
    position: sticky;
    top:0;
    z-index: 5;
    background-color: ghostwhite;
    border-left:var(--prime) 3px solid;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.search-input {
    border-radius: 0;
    background-color: ghostwhite;
    border-color:lightgray;
}

.search-btn {
    border-radius: 0;
}

.hits{
    padding: 3px 6px;
    background-color: rgba(125,125,125,0.15);
    border-radius: 12px;
    margin-left: 8px;
}

.header {
    position: sticky;
    z-index: 10;
    top: 1px;
    right:0;
    pointer-events: none;
    margin-top:18px;
    border-bottom: 1px lightgray solid;
    margin-bottom: 48px;
}

.header button {
    margin-right:8px;
    background-color: transparent;
    border-radius: 0;
}

.header .selected-btn{
    border-bottom: 2px var(--secondary) solid;
    font-weight: bold;
}

.side-bar-container {
    width: 100%;
    height: 100%;
}

.side-bar-container .side-bar{
    position: sticky;
    top:70px;
    width:100%;
    height: 0;
}

.side-bar-container .side-bar .content{
    background-color: ghostwhite;
    border:lightgray 1px solid;
    max-width: 500px;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.side-bar-container .side-bar .content .entry{
    padding: 3px 6px;
    border-radius: 6px;
}

.side-bar-container .side-bar .content .entry:hover{
    background-color: rgba(125,125,125,0.15);
    color:black;
    cursor: pointer;
}

.side-bar-container .side-bar .taxonomy-tree{
    width: 100%;
}

.side-bar-container .side-bar .taxonomy-tree .layer{
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    border-radius: 0px 16px 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:rgba(125,125,125, 0.3) 1px solid;
}

.side-bar-container .side-bar .taxonomy-tree .layer::before{
    position: absolute;
    bottom:-21px;
    left:calc(50% - 1px);
    height: 20px;
    border-right:1px solid lightgray;
    content: '';
}

.side-bar-container .side-bar .taxonomy-tree .layer label{
    color:var(--dark);
    margin: 0;
}

.thumbnail {
    width: 75px;
}

.sort-container {
    border: 1px lightgray solid;
    position: sticky;
    top:40px;
    background-color: ghostwhite;
}

.sort-container .active-sort-btn{
    background-color: var(--prime) !important;
}

.sort-container .active-sort-btn i{
    color: white;
}

.sort-container .switch-search-layer-result-btn{
    border-bottom: 2px lightgray solid;
    margin-right: 12px;
    border-radius: 0;
}

.sort-container .switch-search-layer-result-btn:hover{
    color:black !important;
    border-bottom-color: gray !important;
}

.sort-container .switch-search-layer-result-btn.selected{
    border-bottom-color: var(--secondary);
    color:black !important;
}

.document-card{
    max-width: 900px;
    width: 100%;
    border:lightgray 1px solid;
    background-color: ghostwhite;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: 0.15s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.document-card:hover{
    border:1px gray solid;
    transition: 0.15s;
}

.document-card .embedding-text{
    font-size: small;
    font-style: italic;
    margin-bottom: 0;
    padding: 12px;
    background-color: rgba(255,215,0, 0.42);
    border-radius: 6px;
}

.search-result-container .document-card .title-btn{
    margin-right: 8px;
    border-radius: 50%;
    border:lightgray 1px solid;
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: 0.15s;
}

.search-result-container .document-card .title-btn:hover{
    transition: 0.15s;
    cursor: pointer;
    background-color: lightgray;
}

.document-card .document-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.document-card .document-header .title{
    font-weight: bold;
    font-size: 16px;
    color:var(--secondary);
}

.document-card .annotation-hit-container-expander{
    border:lightgray 1px solid;
    cursor: pointer;
    border-radius: 0;
}

.document-card .annotation-hit-container-expander i{
    color:var(--secondary);
    margin: 0;
    font-weight:bold;
}

.document-card .annotation-hit-container{
    width: 100%;
    margin-top: -1px !important;
    overflow-y: auto;
    border: Lightgray 1px solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-left: 6px;
    overflow-x: hidden;
    max-height: 400px;
}

.document-card .search-hits{
    width: 100%;
    margin-top: 8px;
    padding: 0;
}

.document-card .search-hits span{
    font-size: small;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-word;
    border-radius: 16px;
    margin-right: 12px;
}

.document-card .search-hits span i{
    display: none;
}

.document-card .content {
    height: 100%;
    width: 100%;
}

.document-card .snippet-content{
    padding: 12px;
    border-radius: 6px;
    background-color: rgba(125,125,125,0.15);
}

.rounded-a {
    margin-left: 3px;
    margin-right: 3px;
    background-color: lightgray;
    border-radius: 50%;
    height: 30px;
    padding: 0;
    margin-top: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    cursor: pointer;
}

.rounded-a:hover{
    background-color: ghostwhite;
    color:black;
    border:1px gray solid;
}


.pagination{
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination .current-page{
    background-color: var(--prime);
    color:white !important;
}

#found-annotations-modal{
    position: fixed;
    left:0;
    top:0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

#found-annotations-modal .mcontent{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 51vw;
    margin-top:-1px;
    margin-left:-16px;
    background-color: rgba(245, 245, 247, 1);
    min-width: 300px;
    height: 80vh;
    min-height: 400px;
    position: relative;
}

#found-annotations-modal .mheader{
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    height: 90px;
    align-items: center;
    background-color: rgba(245, 245, 247, 1);
}

#found-annotations-modal .mheader .btn{
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    border: 1px lightgray solid !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#found-annotations-modal .mtabs{
    height: 40px;
    background-color: rgba(245, 245, 247, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#found-annotations-modal .mtabs btn{
    width: 100%;
    height: 100%;
    color:gray;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-bottom:lightgray 1px solid;
    border-top:lightgray 1px solid;
    cursor: pointer;
}

#found-annotations-modal .mtabs .selected-tab{
    color:var(--prime);
    font-weight: bold;
    background-color: transparent;
    border-bottom: 0px !important;
    border-top: 0px !important;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

#found-annotations-modal .mcontent .mannotation-list{
    overflow-y: auto;
    position: absolute;
    height: calc(80vh - 90px - 50px);
    min-height: calc(400px - 90px - 50px);
    width: 100%;
    padding: 16px;
}