:root {
    --prime: #5c7a17;
    --secondary: darkgreen;
    --dark: rgba(38,38,38,1);
}

.site-container {
    background-color: rgb(245, 245, 247);
    min-height: 100vh !important;
}

footer {
    min-height: 150px;
    background-color: var(--prime);
    width: 100%;
}

* {
}

.hoverable{
    cursor: pointer;
}

nav {
    border-bottom: var(--prime) 2px solid;
    background-color: ghostwhite;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

nav .logo {
    height: 60px;
}

nav .nav-buttons a {
    margin: 6px;
    border-radius: 0;
    cursor: pointer;
}

nav .nav-buttons a:hover {
    color: black !important;
    background-color: ghostwhite;
    border-bottom: 2px solid var(--prime);
}

nav .selected-nav-btn {
    position: relative;
    border-bottom: var(--prime) 2px solid;
    color: black !important;
    transition: 0.25s;
}

nav .selected-nav-btn::before {
    position: absolute;
    bottom: -30px;
    width: 2px;
    left: calc(50% - 1px);
    background-color: var(--prime);
    height: 30px;
    content: '';
}

.position-relative{
    position: relative;
}

.text {
    color: rgba(0, 0, 0, 0.5) !important;
}

.small-font{
    font-size: small;
}

.underlined{
    text-decoration: underline;
}

.large-font {
    font-size: large;
}

.xlarge-font{
    font-size: x-large;
}

.color-prime {
    color: var(--prime);
}

.color-secondary {
    color: var(--secondary);
}

.btn-primary {
    background-color: var(--prime);
    border: 1px solid var(--prime);
}

.btn-primary:hover {
    background-color: white;
    border-color: var(--prime);
    color: black;
}

.bg-prime {
    background-color: var(--prime);
}

.flexed {
    display: flex;
}

.display-none {
    display: none;
}

.main-content-container {
}

.view {
    height: 100%;
    width: 100%;
}


.group-box {
    width: 100%;
    border: 1px solid lightgray;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 6px;
}

.group-box .title {
    text-align: center;
    text-decoration: underline;
}

.group-box .btn {
    width: 100%;
    border: 1px solid lightgray;
    padding: 12px;
    border-left:4px var(--secondary) solid;
    transition: 0.2s;
    margin-bottom: 12px;
    border-radius: 0px !important;
}

.group-box .btn:hover{
    background-color: var(--prime);
    color:white;
    transition: 0.2s;
}