
.corpus-inspector-include{
    width: 100vw;
    position: fixed;
    border-right:lightgray 1px solid;
    z-index: 99;
    height: 100vh;
    top:0;
    min-width: 400px;
    left:0;
    background-color: white;
}

.corpus-inspector{

}

.corpus-inspector .cheader{
    border-bottom: 1px lightgray solid;
    height: 90px;
    background-color: rgba(245, 245, 247, 1);
}

.corpus-inspector .cheader a{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:lightgray 1px solid;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.corpus-inspector .ccontent{
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 48px;
    overflow-y: auto;
    max-height: calc(100vh - 60px);
    padding-top: 18px;
}

.corpus-inspector .ccontent .entry{
    margin-bottom: 8px;
    margin-top: 8px;
}

.corpus-inspector .annotation-entry{
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.corpus-inspector .ccontent .entry label{
    border-left:1px lightgray solid;
    border-right:1px lightgray solid;
    font-style: italic;
    border-top:1px lightgray solid;
    padding-bottom: 4px;
    padding-top: 4px;
}

.corpus-inspector .corpus-tsne-plot{
    height: 100vh !important;
}

.corpus-inspector .corpus-tsne-plot .plot-container{
    height: 100vh !important;
}

.corpus-inspector .corpus-tsne-plot .error-msg{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    color: darkred;
    text-align: center;
}

.corpus-inspector .documents-list-header{
    position: sticky;
    width: 100%;
    border-bottom: lightgray 1px solid;
    padding:16px;
}