.json-display {
    border-radius: 3px;
    border: lightgrey 1px solid;
    overflow-y: auto;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-top: 6px;
    background-color: rgba(125, 125, 125, 0.15);
}

.json-display .json-ul {
    padding-left: 5px;
    list-style-type: none;
}

.json-display .item-container{
    padding-top: 6px;
    margin-top:4px;
    margin-bottom: 4px;
    border-radius: 3px;
    padding-left: 8px;
    padding-bottom: 6px;
    padding-right: 8px;
    font-size: small;
    background-color: rgba(247, 247, 247, 1);
}

.json-display .key {
    font-weight: bold;
    color: gray;
}

.json-display .value{
    color:var(--dark);
    text-align: justify;
    padding-left: 6px;
    padding-right: 6px;
}