.keyword-context-card {
    transition: 0.25s;
}

.keyword-context-card .expand-keyword-context-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: lightgray 1px solid;
    border-radius: 50%;
    width: 40px;
    transition: 0.15s;
    height: 40px;
}

.keyword-context-card .expand-keyword-context-btn:hover {
    background-color: lightgray !important;
    transition: 0.15s;
}

.keyword-context-card .context-table-container {
    overflow-x: hidden;
    overflow-y: auto;
    /*max-height: calc(75vh - 150px);*/
    margin-top: 16px;
}

.keyword-context-card .context-table-container .context-row {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    flex-wrap: nowrap;
    margin-bottom: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.keyword-context-card .context-table-container .context-row-container{
    transition: 0.15s;
}

.keyword-context-card .context-table-container .context-row-container:hover div{
    color:black !important;
    transition: 0.15s;
}

.keyword-context-card .context-table-container .col-left, .col-right {
    flex: 1;
}

.keyword-context-card .context-table-container .col-middle {
    flex: 0;
    color:var(--prime);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.keyword-context-card .context-table-container .focused-keyword-context{
    background-color: rgba(125, 125, 125, 0.1) !important;
    color:black !important;
}