
.layered-search-builder-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2px);
}

.layered-search-builder-container {
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 1200px;
    height: calc(100vh - 36px);
    overflow-y: auto;
    background-color: ghostwhite;
}

.layered-search-builder-container .header {
    border-bottom: 1px lightgray solid;
    background-color: rgba(125, 125, 125, 0.15);
}

.layered-search-builder-container .content {
}

.layered-search-builder-container .choose-layer-popup {
    position: absolute;
    top: calc(100% + 6px);
    left: 50%;
    background-color: ghostwhite;
    transform: translate(-50%);
    border: lightgray 1px solid;
    padding: 6px;
    z-index: 102;
}

.layered-search-builder-container .choose-layer-popup a {
    color: var(--prime);
}

.layered-search-builder-container .slot {
    width: 100%;
    background-color: red;
    padding: 12px;
    margin-right: 12px;
    background-color: rgba(125, 125, 125, 0.15);
    border-radius: 3px;
    border: lightgrey 1px solid;
}

.layered-search-builder-container .slot .location-map{
    height: 400px;
    border-right: lightgrey 1px solid;
    border-bottom: lightgrey 1px solid;
    border-left: lightgrey 1px solid;
}

.layered-search-builder-container .layers-container{
    border-left:1px lightgray solid;
}

.layered-search-builder-container .layer {
    display: flex;
    padding-left: 24px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    position: relative;
    width: 100%;
}

.layered-search-builder-container .layer::before{
    position: absolute;
    content: '';
    top:50%;
    left:-0px;
    height: 1px;
    background-color: lightgray;
    width: 24px;
}

.layered-search-builder-container .empty-slot {
    border-radius: 3px;
    width: 100%;
    border: lightgray 1px dashed;
    margin-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left:6px;
    padding-right:6px;
}

.layered-search-builder-container .layers-container .load{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 102;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layered-search-builder-container .layer-metadata-container{
    border-bottom: 1px lightgray solid;
    padding-top: 6px;
    margin-top: 12px;
    border-top:lightgray 1px solid;
    border-right:lightgray 1px solid;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 6px;
    background-color: rgba(125, 125, 125, 0.15);
    position: relative;
}

.layered-search-builder-container .apply-layer-btn{
    border:gray 1px solid;
    padding-top: 6px;
    background-color: white;
    padding-bottom: 6px;
    padding-left:16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:16px;
    margin-right: 12px;
    transition: 0.15s;
    position: relative;
}

.layered-search-builder-container .apply-layer-btn:hover{
    transition: 0.15s;
    background-color: white;
    color:var(--prime);
}

.layered-search-builder-container .apply-layer-btn.applied{
    color:white;
    border-color: var(--prime);
    background-color: var(--prime);
    font-weight: bold;
}

.layered-search-builder-container .apply-layer-btn.loading-btn {
    position: relative;
    border-color: transparent !important;
    overflow: hidden;
}

.layered-search-builder-container .apply-layer-btn.loading-btn::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: var(--prime);
    animation: rotate-border 1s linear infinite;
}

@keyframes rotate-border {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.layered-search-builder-container .submit-div{
    border-radius: 25px 25px 25px 25px;
    border:lightgrey 1px solid;
}

.layered-search-builder-container .submit-div a{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: 0.15s;
    background-color: gray;
    justify-content: center;
    border: gray 2px solid;
}

.layered-search-builder-container .submit-div a:hover{
    transition: 0.15s;
    background-color: var(--prime);
    border-color: var(--prime);
}

.layered-search-builder-container .submit-div a.activated{
    background-color: var(--prime);
    border-color:var(--prime);
}
