.lexicon-view{
    padding-bottom: 2rem;
}

.lexicon-view *{
    font-family: "Times New Roman", serif;
}

.lexicon-view header{
    width: 100%;
    border-bottom: 1px lightgrey solid;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.lexicon-view header .search-lexicon-input{
    max-width: 300px;
}

.lexicon-view header .search-lexicon-btn{
    height: 100%;
    color:var(--prime);
    padding-right: 12px;
    padding-left: 12px;
}

.lexicon-view .alphabet .selected-char{
    background-color: var(--dark) !important;
    color:white;
}

.lexicon-view .lexicon-navigation{
    position: sticky;
    bottom:0;
    width: 100%;
    margin-top: 24px;
    padding: 12px;
    border:lightgrey 1px solid;
    background-color: white;
    z-index: 2;
}

.lexicon-view .lexicon-navigation .pages-count .cur-page{
    background-color: var(--dark);
    color:white;
}

.lexicon-view .lexicon-entry-list{
    border:lightgray 1px solid;
}

.lexicon-view .lexicon-entry{
    border-bottom: lightgrey 1px solid;
    border-left:8px solid transparent;
    background-color: rgba(125, 125, 125, 0.075);
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 6px;
    cursor: pointer;
    padding-bottom: 6px;
    transition: 0.25s;
}

.lexicon-view .lexicon-entry:hover{
    transition: 0.25s;
    background-color: white !important;
}

.lexicon-view .lexicon-entry[data-type="lemma"]{
    border-left-color: rgba(125, 125, 125, 0.75);
}

.lexicon-view .lexicon-entry[data-type="namedentity"] {
    border-left-color: rgba(160, 32, 240, 0.65);
}

.lexicon-view .lexicon-entry[data-type="taxon"] {
    border-left-color: darkgreen;
}

.lexicon-view .lexicon-entry[data-type="biofidtaxon"],
.lexicon-view .lexicon-entry[data-type="gazetteertaxon"],
.lexicon-view .lexicon-entry[data-type="gnfindertaxon"]{
    border-left-color: darkgreen;
}

.lexicon-view .lexicon-entry[data-type="unifiedtopic"] {
    border-left-color: lightpink;
}

.lexicon-view .lexicon-entry[data-type="geoname"] {
    border-left-color: dodgerblue;
}

.lexicon-view .lexicon-entry[data-type="time"] {
    border-left-color: lightblue;
}

.lexicon-view .lexicon-entry[data-type="sentence"] {
    border-left-color: var(--dark);
}

.lexicon-view .lexicon-entry[data-type="focus"]{
    border-left-color: orangered;
}
.lexicon-view .lexicon-entry[data-type="cue"],
.lexicon-view .lexicon-entry[data-type="scope"]{
    border-left-color: darkred;
}

.lexicon-view .lexicon-entry[data-type="offensivespeech"]{
    border-left-color: silver;
}

.lexicon-view .filter-container{
    width: 100%;
    position: sticky;
    top:12px;
    background-color: rgba(125, 125, 125, 0.15);
    border:lightgrey 1px solid;
}

.lexicon-view .filter-container .annotation-filter{
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    align-items:center;
    border:lightgray 1px solid;
    padding: 6px;
    flex-wrap: wrap;
    word-break: break-all;
}

.lexicon-view .sortings .selected-sort{
    background-color: var(--dark);
    color:white;
}

.lexicon-view .lexicon-entry-inspector{
    border:lightgrey 1px solid;
}

.lexicon-view .lexicon-entry-inspector .occurrences-list{
    max-height: 60vh;
    padding: 12px;
    overflow-y: auto;
}

.lexicon-view .lexicon-entry-inspector .entry-occurrences{
    background-color: rgba(125, 125, 125, 0.20);
    padding: 6px;
}

.lexicon-view .lexicon-entry-inspector .occurrence{
    background-color: var(--default);
    padding: 6px !important;
}

.lexicon-view .lexicon-entry-inspector .occurrence a{
    font-size: small;
    width: 28px !important;
    height: 28px !important;
}

.lexicon-view .lexicon-entry-inspector .occurrence b{
    color:var(--prime);
    font-weight: bold;
    font-size: small;
}