.search-result-container {
    margin-top: 50px;
    min-height: 50vh;
    background-color: rgba(245, 245, 247, 1);
    border-top: lightgrey 1px solid;
}

.search-result-container .search-row {
    z-index: 1;
}

.search-result-container .document-list-include {
    min-height: 100vh;
}

.search-result-container .corpus-documents-list{
    max-height: 99999vh !important;
}

#corpus-select {
    width: auto;
    max-width: 200px;
    border-radius: 0;
    border-right: 0;
    height: 41px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: lightgray;
    font-weight: bold;
}

.open-corpus-inspector-btn {
    cursor: pointer;
}

.open-sr-builder-btn {
    border-radius: 0;
    color: rgba(0, 0, 0, 0.75);
    background-color: lightgray;
    border-top: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
    height: 41px;
}

.open-layered-search-builder-btn {
    border-radius: 0;
    color: white;
    background-color: var(--prime);
    border-top: var(--prime) 1px solid;
    border-bottom: var(--prime) 1px solid;
    height: 41px;
}

.open-layered-search-builder-btn:hover{
    background-color: white !important;
    border-color: gray !important;
    color: var(--dark) !important;
}

.open-layered-search-builder-btn-badge{
    position: absolute;
    z-index: 2;
    left:calc(0% + 5px);
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: ghostwhite;
    border:var(--prime) 1px solid;
    color:var(--dark);
    font-weight: bold;
    top:-10px;
    font-size: small;
}

.search-header {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: ghostwhite;
    border-left: var(--prime) 3px solid;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.search-input {
    z-index: 2;
    position: relative;
    border-radius: 0;
    background-color: ghostwhite;
    border-color: lightgray;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
    border-left: 1px lightgrey solid;
}

.open-documentation-btn{
    height: 41px;
    background-color: ghostwhite;
    display: flex;
    align-items: center;
}

.search-pro-mode-switch {
    z-index: 2;
    padding-left: 3.25rem !important;
    padding-right: 16px !important;
    height: 41px !important;
    display: flex !important;
    align-items: center !important;
    background-color: lightgrey !important;
}

.search-menu-div {
    position: absolute;
    border: lightgray 1px solid;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow-y: hidden;
    left: 0;
    border-top:1px lightgrey solid;
    display: none;
    padding: 12px;
    background-color: ghostwhite;
}

.search-menu-div .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    z-index: -1;
}

.search-history-div {
    overflow-y: auto;
    min-height: 125px;
    max-height: 300px;
}

.search-history-div div {
    margin-bottom: 0;
    width: 100%;
}

.search-history-div .search-history-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.search-history-div .search-history-entry p {
    transition: 0.15s;
    margin-bottom: 0;
}

.search-history-div .search-history-entry p:hover {
    cursor: pointer;
    transition: 0.15s;
    color: var(--dark) !important;
}

.search-settings-div {
    margin-top: 12px;
}

.search-settings-div .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    margin-left: 8px;
    background-color: rgba(125, 125, 125, 0.15);
    margin-right: -1px;
    width: 100%;
    border: lightgray 1px solid;
    border-radius: 0.25rem;
}

.search-btn {
    position: relative;
    z-index: 2;
    border-radius: 0;
}

.hits {
    padding: 3px 6px;
    background-color: rgba(125, 125, 125, 0.15);
    border-radius: 12px;
    margin-left: 8px;
}

.search-state .header {
    position: static;
    z-index: 10;
    top: 1px;
    right: 0;
    /*pointer-events: none;*/
    margin-top: 18px;
    border-bottom: 1px lightgray solid;
    margin-bottom: 48px;
}

.search-state .header button {
    margin-right: 8px;
    background-color: transparent;
    border-radius: 0;
}

.search-state .header .selected-btn {
    border-bottom: 2px var(--secondary) solid;
    font-weight: bold;
}

.side-bar-container {
    width: 100%;
    height: 100%;
}

.matched-tokens-list {
    padding-top: 12px;
    padding-left: 6px;
    position: relative;
    border-top: lightgray 1px solid;
}

.matched-tokens-list::before {
    position: absolute;
    top: -4.5px;
    left: -4.5px;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    content: '';
    background-color: lightgray;
}

.matched-tokens-list .matched-token {
    color: var(--dark);
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgba(125, 125, 125, 0.1);
}

.side-bar-container .side-bar {
    position: sticky;
    top: 70px;
    width: 100%;
    height: 0;
}

.side-bar-container .side-bar .content {
    background-color: ghostwhite;
    border: lightgray 1px solid;
    max-height: 90vh;
    overflow-y: auto;
    /*max-width: 500px;*/
    padding: 1rem;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.side-bar-container .side-bar .open-annotations-modal-btn {
    width: 100%;
    color: var(--secondary);
    border: lightgray 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s;
    margin-bottom: 12px;
}

.side-bar-container .side-bar .open-annotations-modal-btn:hover {
    background-color: lightgray;
    cursor: pointer;
    transition: 0.15s;
}

.side-bar-container .side-bar .content .entry {
    padding: 3px 6px;
    border-radius: 6px;
}

.side-bar-container .side-bar .content .entry:hover {
    background-color: rgba(125, 125, 125, 0.15);
    color: black;
}

#search-corpus-universe-include {
    height: 50vh;
    width: 100%;
    position: relative;
    margin-top: 16px;
}

.side-bar-container .side-bar .taxonomy-tree {
    width: 100%;
}

.side-bar-container .side-bar .taxonomy-tree .layer {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    border-radius: 0px 16px 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: rgba(125, 125, 125, 0.3) 1px solid;
}

.side-bar-container .side-bar .taxonomy-tree .layer::before {
    position: absolute;
    bottom: -21px;
    left: calc(50% - 1px);
    height: 20px;
    border-right: 1px solid lightgray;
    content: '';
}

.side-bar-container .side-bar .taxonomy-tree .layer label {
    color: var(--dark);
    margin: 0;
}

.thumbnail {
    width: 75px;
}

.enriched-search-tokens-list{
    width: 100%;
}

.enriched-search-tokens-list .enriched-token{
    border:solid lightgray 1px;
    border-radius: 3px;
    padding: 6px;
    background-color: rgba(125, 125, 125, 0.05);
}

.enriched-search-tokens-list .enriched-token[data-type="OPERATOR"] .value{
    color: var(--dark) !important;
}

.enriched-search-tokens-list .enriched-token[data-type="TAXON"] .value{
    color: var(--prime) !important;
}

.enriched-search-tokens-list .enriched-token[data-type="TAXON_COMMAND"] .value{
    color: orange !important;
}

.enriched-search-tokens-list .enriched-token .children-container{
    max-height: 200px;
    overflow-y: auto;
    padding: 3px;
}

.sort-container {
    z-index: 2;
    border: 1px lightgray solid;
    position: sticky;
    top: 40px;
    background-color: ghostwhite;
}

.sort-container .active-sort-btn {
    background-color: var(--prime) !important;
}

.sort-container .active-sort-btn i {
    color: white;
}

.sort-container .switch-search-layer-result-btn {
    border-bottom: 2px lightgray solid;
    margin-right: 12px;
    border-radius: 0;
}

.sort-container .switch-search-layer-result-btn:hover {
    color: black !important;
    border-bottom-color: gray !important;
}

.sort-container .switch-search-layer-result-btn.selected {
    border-bottom-color: var(--secondary);
    color: black !important;
}

.pagination {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination .current-page {
    background-color: var(--prime);
    color: white !important;
}

#found-annotations-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

#found-annotations-modal .mcontent {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 90vw;
    max-width: 1350px;
    margin-top: -1px;
    margin-left: -16px;
    background-color: rgba(245, 245, 247, 1);
    min-width: 300px;
    height: 80vh;
    min-height: 400px;
    position: relative;
}

#found-annotations-modal .mheader {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    height: 90px;
    align-items: center;
    background-color: rgba(245, 245, 247, 1);
}

#found-annotations-modal .mheader .btn {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    border: 1px lightgray solid !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#found-annotations-modal .mtabs {
    height: 40px;
    background-color: rgba(245, 245, 247, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#found-annotations-modal .mtabs btn {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-bottom: lightgray 1px solid;
    border-top: lightgray 1px solid;
    cursor: pointer;
}

#found-annotations-modal .mtabs .selected-tab {
    background-color: transparent;
    border-bottom: 0px !important;
    border-top: 0px !important;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

#found-annotations-modal .mcontent .mannotation-list {
    overflow-y: auto;
    height: calc(80vh - 170px - 50px - 75px);
    min-height: calc(400px - 170px - 50px - 75px);
    width: 100%;
    padding: 16px;
}

#found-annotations-modal .mcontent .mannotation-list .title {
    color: rgba(10, 10, 10, 0.75);
    pointer-events: none;
}

#found-annotations-modal .mfooter {
    height: 170px;
    background-color: white;
    border-top: lightgray 1px solid;
    width: 100%;
    padding: 16px;
}

#found-annotations-modal .mannotation-list .draggable {
    cursor: grab;
}

#found-annotations-modal .bricks-container {
    border-right: 0;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
}

#found-annotations-modal .verb-input {
    max-width: 400px;
    margin-bottom: 32px;
    position: relative;
    border-radius: 0;
    z-index: 2;
    color: var(--secondary);
}

#found-annotations-modal .verb-input-before::before {
    content: '';
    position: absolute !important;
    left: 0;
    top: -17.5px;
    z-index: 1;
    height: 2px;
    width: 100%;
    border-bottom: 1px lightgray solid;
}

#found-annotations-modal .drop-container .draggable {
    width: auto !important;
    margin-right: 8px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}

#found-annotations-modal .drop-container .draggable .count,
#found-annotations-modal .drop-container .draggable .fa-grip-vertical {
    display: none;
}

#found-annotations-modal .drop-container .draggable .remove-btn {
    cursor: pointer;
}

#found-annotations-modal .mfooter .drop-container {
    display: flex;
    transition: 0.15s;
    align-items: center;
    border: lightgray 1px solid;
    height: 50px;
    overflow-y: hidden;
    overflow-x: auto;
    justify-content: center;
}

#found-annotations-modal .mfooter .drop-container.highlighted {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-color: gray !important;
    opacity: 0.5;
    transition: 0.15s;
    transform: scale(1.01, 1.01);
    backdrop-filter: blur(4px);
}

#found-annotations-modal .mfooter .drop-container::before {
    position: absolute;
    content: '';
    height: calc(100% + 1px);
    width: 1px;
    top: calc(-100% - 1px);
    left: 50%;
    z-index: 1;
    background-color: lightgray;
}

#found-annotations-modal .mfooter .drop-container[data-id="arg0"]::after {
    position: absolute;
    content: 'ARG0';
    width: 50px;
    text-align: center;
    top: calc(-50% - 10px);
    background-color: white;
    font-size: small;
    left: calc(50% - 25px);
    border: lightgray 1px solid;
    color: gray;
    z-index: 2;
}

#found-annotations-modal .mfooter .drop-container[data-id="arg1"]::after {
    position: absolute;
    content: 'ARG1';
    font-size: small;
    width: 50px;
    text-align: center;
    top: calc(-50% - 1px);
    background-color: white;
    left: calc(50% - 25px);
    border: lightgray 1px solid;
    color: gray;
    z-index: 2;
}

#found-annotations-modal .mfooter .drop-container[data-id="arg2"]::after {
    position: absolute;
    content: 'ARG2';
    font-size: small;
    width: 50px;
    text-align: center;
    top: calc(-50% - 1px);
    background-color: white;
    left: calc(50% - 25px);
    border: lightgray 1px solid;
    color: gray;
    z-index: 2;
}

#found-annotations-modal .mfooter .drop-container[data-id="argm"]::after {
    position: absolute;
    font-size: small;
    content: 'ARGM';
    width: 50px;
    text-align: center;
    top: calc(-50% - 10px);
    background-color: white;
    left: calc(50% - 25px);
    border: lightgray 1px solid;
    z-index: 2;
    color: gray;
}

#found-annotations-modal .mfooter .submit-btn {
    height: 100%;
    border-radius: 50%;
    border: lightgray 1px solid;
    padding: 12px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--prime);
}

#found-annotations-modal .views .search-annotation-input {
    border-radius: 0;
    position: absolute;
    width: calc(100% - 60px);
    max-width: 400px;
    float: right;
    top: 20px;
    border-color: lightgray;
    font-size: large;
    display: none;
    right: 50px;
    height: 42px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    z-index: 2;
}

#found-annotations-modal .views .search-annotation-btn {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 1px lightgray solid;
    width: 50px;
    height: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 3;
}

#found-annotations-modal .views .search-backdrop {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}