.search-visualization-container {
    width: 100%;
}

#search-results-visualization-graph {
    width: 100%;
    height: 350px;
}

.search-visualization-container .form-group {
    margin-top: 0;
    margin-bottom: 0;
}

.search-visualization-container label {
    margin-top: 0;
    margin-bottom: 0;
}