:root {
    /* Variables prime and secondary MUST ALWAYS be in line 3 and 4! */
    --prime: #5c7a17;
    --secondary: darkgreen;
    --gold: rgba(255, 165, 0, 1);
    --dark: rgba(38, 38, 38, 1);
    --default: rgb(245, 245, 247, 1);
}

.site-container {
    background-color: rgb(245, 245, 247);
    min-height: 100vh !important;
}

.color-gold {
    color: var(--gold);
}

.bg-default {
    background-color: var(--default) !important;
}

footer {
    min-height: 150px;
    width: 100%;
    border-top: lightgrey 1px solid;
}

* {
}

.hoverable {
    cursor: pointer;
    transition: 0.25s;
}

.hoverable:hover {
    border-color: gray !important;
    transition: 0.25s;
}

nav {
    border-bottom: lightgray 1px solid;
    background-color: white;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

nav .logo {
    height: 60px;
}

nav .nav-container {
    border-right: 1px lightgray solid;
    border-left: 1px lightgray solid;
}

nav .nav-buttons {
    padding: 18px;
    margin-left: 16px;
}

nav .nav-buttons a {
    margin: 6px;
    white-space: nowrap;
    border:lightgrey 1px solid;
    cursor: pointer;
    font-size: large;
    border-radius: 0;
}

nav .nav-buttons a i{
    margin-right: 2px;
}

nav .nav-buttons a:hover {
    color: black !important;
    background-color: var(--default);
}

nav .selected-nav-btn {
    position: relative;
    background-color: var(--default);
    border: lightgray 1px solid;
    border-radius: 8px !important;
    color: var(--prime) !important;
    transition: 0.25s;
}

nav .selected-nav-btn.text::before {
    position: absolute;
    bottom: -26px;
    width: 1px;
    left: calc(50% - 1px);
    background-color: lightgray;
    height: 26px;
    content: '';
}

.light-border {
    border: 1px lightgray solid !important;
}

.position-relative {
    position: relative;
}

.bg-lightgray {
    background-color: rgba(125, 125, 125, 0.15);
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
    text-decoration-color: var(--prime) !important;
}

.text {
    color: rgba(0, 0, 0, 0.5) !important;
}

.xsmall-font {
    font-size: smaller;
}

.small-font {
    font-size: small;
}

.medium-font {
    font-size: medium;
}

.normal-line-height {
    line-height: normal;
}

.block-text {
    text-align: justify;
}

.underlined {
    text-decoration: underline;
}

.wrapped {
    flex-wrap: wrap;
}

.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) -2px 4px 12px -6px;
}

.no-pointer-events {
    pointer-events: none;
}

.no-text-wrap {
    white-space: nowrap;
}

.large-font {
    font-size: large;
}

.xlarge-font {
    font-size: x-large;
}

.sticky {
    position: sticky;
    top: 0;
}

.color-dark {
    color: var(--dark);
}

.color-prime {
    color: var(--prime) !important;
}

.color-secondary {
    color: var(--secondary) !important;
}

.btn-primary {
    background-color: var(--prime);
    border: 1px solid var(--prime);
}

.btn-primary:hover {
    background-color: white;
    border-color: var(--prime);
    color: black;
}

.bg-prime {
    background-color: var(--prime);
}

.flexed {
    display: flex;
}

.display-none {
    display: none;
}

.main-content-container {
}

.view {
    height: 100%;
    width: 100%;
}

.system-status-bar {
    border-left: lightgrey 1px solid;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: rgba(125, 125, 125, 0.15);
}

.chart-container{
    height: 100%;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) -2px 4px 12px -6px;
    border: lightgrey 1px solid;
    background-color: ghostwhite;
    position: relative;
}

.chart-container .menu{
    position: absolute;
    top:12.5px;
    right:-17.5px;
    border-bottom: 0;
}

.chart-container .settings-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    border:lightgrey 1px solid;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.1) -2px 4px 12px -6px;
}

.chart-container .menu .btn-expanded button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 6px;
    display: flex;
    align-items: center;
    border:lightgrey 1px solid;
    justify-content: center;
    background-color: white;
    color:var(--dark);
    box-shadow: rgba(0, 0, 0, 0.1) -2px 4px 12px -6px;
}

.chart-container .menu button:hover{
    background-color: var(--prime);
    color:white;
    transition: 0.25s;
}

.canvas-container{
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.team-member-card {
    /*border-radius: 0px 8px 8px 0px;*/
    transition: 0.15s;
    box-shadow: rgba(0, 0, 0, 0.1) -2px 4px 12px -6px;
    background-color: ghostwhite;
    border:lightgray 1px solid;
}

.team-member-card:hover {
    background-color: ghostwhite;
    border-color: gray !important;
    transition: 0.15s;
}

.team-member-card img {
    width: 200px;
    border-left:lightgray 1px solid;
    height: 200px;
    object-fit: contain;
}

.ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.word-break-all {
    word-break: break-all;
}

.rounded-a {
    margin-left: 3px;
    margin-right: 3px;
    background-color: lightgray;
    border-radius: 50%;
    height: 30px;
    padding: 0;
    margin-top: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    width: 30px;
    cursor: pointer;
}

.rounded-a:hover {
    background-color: ghostwhite;
    color: black;
    border: 1px gray solid;
    transition: 0.25s;
}

.rounded-a:hover * {
    transition: 0.25s;
    color: black !important;
}

.justify-items-center{
    justify-items: center;
}

.open-wiki-page {
    cursor: pointer;
    transition: 0.15s;
}

.open-wiki-page:hover {
    transition: 0.15s;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--secondary);
}

.hidden{
    visibility: hidden;
    pointer-events: none;
}

.bg-ghost{
    background-color: ghostwhite;
}

.group-box {
    width: 100%;
    border: 1px solid lightgray;
    padding: 16px;
    margin-bottom: 16px;
    transition: 0.25s;
    border-radius: 6px;
}

.group-box .title {
    text-align: center;
    text-decoration: underline;
}

.group-box .btn {
    width: 100%;
    border: 1px solid lightgray;
    padding: 12px;
    border-left: 4px var(--secondary) solid;
    transition: 0.2s;
    margin-bottom: 12px;
    border-radius: 0px !important;
}

.group-box .btn:hover {
    background-color: var(--prime);
    color: white;
    transition: 0.2s;
}

.turn-180{
    transform: rotate(180deg);
    transition: 0.075s;
}

.rotate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.corpus-selection-div{
    border-radius: 6px;
    height: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
    align-self: center;
}

#corpus-select {
    width: auto;
    max-width: 225px;
    min-width: 150px;
    border-radius: 0;
    border-left: 0;
    color:var(--prime);
    height: 41px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--default);
}

.open-corpus-inspector-btn {
    cursor: pointer;
    border:lightgray 1px solid;
}

.open-corpus-universe-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 40px;
    width: 40px;
    border: lightgray 1px solid;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
}

.ne-MISC {
    color: rgba(125, 125, 125, 1);
}

.ne-PERSON {
    color: rgba(237, 187, 36, 1);
}

.ne-ORGANIZATION {
    color: rgba(158, 43, 154, 1);
}

.ne-LOCATION {
    color: rgba(37, 133, 30);
}

.ne-taxons {
    color: dodgerblue;
}

.full-loader{
    position: absolute;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.95);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

/* BG Anim */
.bg-anim {
    background: linear-gradient(90deg, rgba(125, 125, 125, 0.20) 0%, rgba(125, 125, 125, 0.15) 100%);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    position: absolute;
    height: 40vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    border: lightgrey 1px solid;
    background: var(--prime);
    animation: circle-anim 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 22s;
}

@keyframes circle-anim {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* BG Anim */

.corpora-list {
    margin-top: 32px;
}

.corpora-list .corpus-card {
    background-color: ghostwhite;
    border: lightgray 1px solid;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) -2px 4px 12px -6px;
    padding: 16px;
}

.corpora-list .corpus-card .open-corpus-inspector-btn {
    border: 1px lightgray solid;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    color: var(--secondary);
    height: 30px;
}

.corpora-list .corpus-card .corpus-description {
    margin-top: 12px;
    padding: 6px;
    background-color: rgba(125, 125, 125, 0.075);
    border-radius: 3px;
}

.corpora-list .corpus-card .corpus-description {
    color: gray;
}

.corpora-list .corpus-card .corpus-description *{
    line-height: 1.5;
}

.corpora-list .corpus-card .corpus-description h1,
.corpora-list .corpus-card .corpus-description h2,
.corpora-list .corpus-card .corpus-description h3,
.corpora-list .corpus-card .corpus-description h4,
.corpora-list .corpus-card .corpus-description h5,
.corpora-list .corpus-card .corpus-description h6 {
    color: rgba(0, 0, 0, 0.65);
}

.uce-description {
    background-color: ghostwhite;
    border: lightgrey 1px solid;
    border-radius: 6px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) -2px 4px 12px -6px;
}

/* Document cards */
.document-card {
    max-width: 900px;
    width: 100%;
    border: lightgray 1px solid;
    background-color: ghostwhite;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: 0.15s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.document-card:hover {
    border: 1px gray solid;
    transition: 0.15s;
}

.document-card .highlighted-token {
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 3px;
}

.document-card .snippet-content b {
    color: var(--prime);
}

.document-card .snippet-content .inspect-page-btn{
    position: absolute;
    top:50%;
    right:-15px;
    transform: translate(50%, -50%);
    padding: 6px;
    border-radius: 6px;
    border:lightgray 1px solid;
    content: '';
    background-color: ghostwhite;
    color:var(--prime);
}

.document-card .embedding-text {
    font-size: small;
    font-style: italic;
    margin-bottom: 0;
    padding: 12px;
    background-color: rgba(255, 215, 0, 0.42);
    border-radius: 6px;
}

.document-card .topic-list label {
    font-size: small;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    background-color: rgba(125, 125, 125, 0.15);
    border-radius: 6px;
    margin-left: 6px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
}

.document-card .title-btn {
    margin-right: 8px;
    border-radius: 50%;
    border: lightgray 1px solid;
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: 0.15s;
}

.document-card .title-btn:hover {
    transition: 0.15s;
    cursor: pointer;
    background-color: lightgray;
}

.focused-document-card {
    margin-bottom: 4rem;
    position: relative;
    border: gray 1px solid;
    /*transform: scale(1.008);*/
    transition: transform 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.focused-document-card .snippet-content .inspect-page-btn{
    border-color: darkgray !important;
}

.focused-document-card .document-header a{
    border-color: gray !important;
    transform: scale(1.05, 1.05);
    transition: 0.25s;
}

.focused-document-card .snippet-content {
}

.document-card .document-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.document-card .document-header .title {
    font-weight: bold;
    font-size: 16px;
    color: var(--secondary);
}

.document-card .annotation-hit-container-expander {
    border-left: lightgray 1px solid;
    border-right: lightgray 1px solid;
    border-top: lightgray 1px solid;
    cursor: pointer;
    border-radius: 0;
}

.document-card .annotation-hit-container-expander i {
    color: var(--secondary);
    margin: 0;
    font-weight: bold;
}

.document-card .annotation-hit-container {
    width: 100%;
    margin-top: -1px !important;
    overflow-y: auto;
    border-left: Lightgray 1px solid;
    border-top: Lightgray 1px solid;
    border-right: Lightgray 1px solid;
    padding-left: 6px;
    overflow-x: hidden;
    max-height: 400px;
}

.document-card .search-hits {
    width: 100%;
    margin-top: 8px;
    padding: 0;
}

.document-card .search-hits span {
    font-size: small;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-word;
    border-radius: 16px;
    margin-right: 12px;
}

.document-card .search-hits span i {
    display: none;
}

.document-card .content {
    height: 100%;
    width: 100%;
}

.document-card .snippet-content {
    padding: 12px;
    border:1px transparent solid;
    border-radius: 6px;
    background-color: rgba(125, 125, 125, 0.15);
}

.document-card .metadata-div{
    font-size: small;
    margin-top: 14px;
}

.document-card .metadata-div *{
    font-size: small !important;
}

.enriched-search-tokens .search-token {
    background-color: rgba(125, 125, 125, 0.1);
    border-radius: 6px;
}

/* Document cards */

.uce-metadata-container{
}

.uce-metadata-container .uce-metadata-item {
    padding: 8px;
    background-color: rgba(125, 125, 125, 0.15);
    border: lightgrey 1px solid;
    border-radius: 3px;
    margin-bottom: 12px;
}

/* Custom button switches */
.custom-control-input:focus ~ .custom-control-label::before {
    border-color: var(--prime) !important;
    box-shadow: 0 0 0 0.2rem rgba(125, 125, 125, 0.25) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--prime) !important;
    background-color: var(--prime) !important;
}

.custom-control-input:active ~ .custom-control-label::before {
    background-color: var(--prime) !important;
    border-color: var(--prime) !important;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: var(--prime) !important;
}

.custom-control-input-green:not(:disabled):active ~ .custom-control-label::before {
    background-color: var(--prime) !important;
    border-color: var(--prime) !important;
}

/*Custom button switches */
