<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Fixed active log file name -->
        <RollingFile name="rolling" fileName="logs/uce-corpus-importer.log"
                     filePattern="logs/uce-corpus-importer-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <!-- Rollover every day at midnight -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <!-- Keep only the last X rolled-over logs -->
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.uima.jcas.impl.JCasImpl" level="ERROR" additivity="false" />
        <Logger name="org.apache.uima.resource.metadata.TypeSystemDescription" level="ERROR" additivity="false" />
        <Root level="info">
            <AppenderRef ref="rolling" />
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
