:root  > * {
    --md-primary-fg-color:        rgb(0,97,143);
    --md-primary-fg-color--light: rgb(0,97,143);
    --md-primary-fg-color--dark:  cyan;
}

/* If the container is smaller than 500px */
@media only screen and (max-width: 650px) {
  .dockpanel .left {
    position: static !important;
  }
}

.text{
  color:rgba(125, 125, 125, 0.75);
}

.centered{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.w-100{
  width: 100% !important;
}

.p{
  padding: 12px;
}

.ml-2{
  margin-left:12px !important;
}

.ml-1{
  margin-left:6px !important;
}

.mb-0{
  margin-bottom: 0px !important;
}

.mt-0{
  margin-top: 0px !important;
}

.mt-1{
  margin-top: 6px !important;
}

.md-grid {
}

.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.flexed{
  display: flex;
  align-items:baseline;
}

.dockpanel{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: start;
}

.dockpanel img{
}

.dockpanel .left{
  padding-right: 8px;
  width:50%;
  position: sticky;
  top:70px;
  min-width: 300px;
}

.dockpanel .right{
  padding-left: 8px;
  width: 50%;
  min-width: 300px;
}

.dockpanel h3{
  margin-top: 0 !important;
}

.gapped-grid{
  grid-gap: 1rem !important;
}

/* I want full width tables always */
.md-typeset__table{
  display: block !important;
}

.md-typeset__table tbody, table, thead, tbody {
  width: 100%;
}

.md-tabs{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}